<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Statii</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<style>
    #map { height: 800px; }
</style>
</head>
<body>
<div id="map"></div>
</body>

<script>
    var map=L.map('map').setView([46.070, 23.55], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoic2FmdGFub2VsIiwiYSI6ImNrenI5ZjN1NTBmOXgycHBrb2RrMGc0dXEifQ.B3ZY98Qzv-y1vQwohAih_g'
}).addTo(map);
var busIcon = L.icon({
    iconUrl: '/static/bus.png',

    iconSize:     [31, 49], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
}, );

{% for statie in object_list %}
L.marker([{{ statie.lat }}, {{statie.long }}], {"title": "{{ statie.nume }}"}).addTo(map);
{% endfor %}



<!--var intervalID = window.setInterval(function(){-->
<!--    get_autobuz()-->
<!--    L.marker.clearLayers();-->
<!--}, 1000);-->

var intervalID = window.setInterval(function(){

{% for autobuz in autobuze %}
L.marker([{{ autobuz.lat }}, {{autobuz.long }}], {"title": "{{ autobuz.nrInm }}", icon: busIcon}).addTo(map);
{% endfor %}
}, 1000);

var intervalID = window.setInterval(function(){
L.marker.clearLayers();
}, 999);


</script>
</html>